/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  color: white;
}

.site-wrapper,
.site-content {
  position: relative;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #f05f40;
  margin: 20px auto;
  padding: 0;
  width: 50px;
}

hr.light {
  border-color: white;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Import Fonts
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Menu */
.site-menu {
  position: fixed;
  z-index: 15;
  background-color: black;
  width: 100%;
  top: 0;

}

.site-menu.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.site-menu .menu-desktop {
  padding: 7px;
}

.site-menu .menu-desktop nav {
  padding-left: 21px;
  padding-right: 21px;
  text-align: right;
  font-weight: bold;
  font-size: 13px;
}

.site-menu .menu-desktop nav li {
  margin-left: 35px;
  height: 35px;
  line-height: 35px;
}

.site-menu .menu-desktop nav li a {
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: color 0.3s linear;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.site-menu .menu-desktop nav li a:hover {
  color: #f05f40;
  text-decoration: none;
}

.site-menu .menu-mobile {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: transparent;
  z-index: 100;
}

.site-menu .menu-mobile .logo-responsive {
  width: 90px;
  margin-left: 25px;
  margin-top: 10px;
}

.site-menu .menu-mobile .menu-toggle {
  width: 40px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
  z-index: 100;
}

.site-menu .menu-mobile .menu-toggle .one,
.site-menu .menu-mobile .menu-toggle .two,
.site-menu .menu-mobile .menu-toggle .three {
  width: 100%;
  height: 3px;
  background: white;
  margin: 8px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition-duration: 0.3s;
}

.site-menu .menu-mobile .menu-toggle.on .one {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
      -ms-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.site-menu .menu-mobile .menu-toggle.on .two {
  opacity: 0;
}

.site-menu .menu-mobile .menu-toggle.on .three {
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
      -ms-transform: rotate(-45deg) translate(8px, -10px);
          transform: rotate(-45deg) translate(8px, -10px);
}

.site-menu .menu-mobile.on {
  z-index: 100;
  width: 100% !important;
  height: 100% !important;
  display: block;
  position: fixed;
  background: rgba(74, 73, 74, 0.9) !important;
}

.site-menu .menu-mobile .navbar-mobile {
  height: 100%;
}

.site-menu .menu-mobile .navbar-mobile ul {
  width: 80%;
  margin: 120px auto;
}

.site-menu .menu-mobile .navbar-mobile ul li {
  display: block;
  min-height: 55px;
  line-height: 55px;
  font-size: 25px;
}

.site-menu .menu-mobile .navbar-mobile ul li a {
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: color 0.3s linear;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.site-menu .menu-mobile .navbar-mobile ul li a:hover {
  color: #f05f40;
  text-decoration: none;
}

/* Fin: Menu */
/* Home */
#home {
  position: relative;
  min-height: 655px;
  min-height: 100vh;
}

#home .home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
}

#home .home-content .logo {
  width: 420px;
}
#home h1 {
    background-color: red;
    padding: 15px;
    font-size: 45px;
    font-weight: 700;
    max-width: 800px;
    margin-bottom: 45px;
}

#home .home-content p {
  font-weight: 300;
  font-size: 18px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  max-width: 600px;
  margin:auto;
}

/* Fin: Home */
#evento, #contacto {
  position: relative;
  background-color: #f05f40;
}

#formato, #ubicanos {
  position: relative;
  min-height: 655px;
}

#formato i, #formato a, #ubicanos i{
  color: #f05f40;
}

#formato, #inscripcion, #ubicanos, #agenda {
  background-color: #FFFFFF;
  color: #333;
}

#formato p, #inscripcion p, #ubicanos p, #agenda p {
  color: #333;
}
#ubicanos p {
  width:40%;
  float: left;
  margin-top: 130px;
  font-size: 25px;
}

#sponsors {
  position: relative;
  min-height: 655px;
  background-color: #0d83c3;
  color: #FFFFFF;
}

#map {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 500px;
    margin: auto;
    float: right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
h1 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h4 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h5 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

form {
    text-align: center;
}
input {
    margin: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 35px;
    color: black;
}

textarea {
    margin: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 165px;
    color: black;
}
.m-0 {
  margin: 0px;
}

.mt-35 {
  margin-top: 35px;
}

.p-0 {
  padding: 0px;
  padding: 0px;
}

.pv-52 {
  padding-top: 52px;
  padding-bottom: 52px;
}

.pv-77 {
  padding-top: 77px;
  padding-bottom: 77px;
}

.bg-img-block {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.inline-block {
  display: inline-block;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.btn-primary {
  color: #FFFFFF !important;
  background-color: #f05f40;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:focus:active, .btn-primary:focus {
  background-color: #f05f40;
}

.btn-block {
  min-height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-inscribete {
  width: 280px;
  margin: 1em auto;
}

.btn-sponsor {
  width: 300px;
  margin: 1em auto;
  background-color: #FFFFFF;
  color: #222222 !important;
}

.btn-sponsor:hover, .btn-sponsor:active, .btn-sponsor:active:hover, .btn-sponsor:focus:active, .btn-sponsor:focus {
  background-color: #FFFFFF;
}

/* ==========================================================================
   Media queries
   ========================================================================== */
/* Desktop Up */
@media only screen and (min-width: 992px) {
  .service-box {
    margin-top: 20px;
  }
  .send-button {
      max-width:300px;
      margin:auto;
  }
}

/* XS Down */
@media only screen and (max-width: 768px) {
  #home .home-content {
    width: 90%;
  }
  #home .home-content .logo {
    width: 240px;
  }
  #home .home-content p {
    font-size: 13px;
    margin-top: 7px;
  }
  #ubicanos p {
    width: 80%;
    margin: 10%;
    margin-top: 0;
    font-size: 15px;
  }
  #map {
    height: 320px;
    width: 97%;
  }
}







/* ========== Speaker Items ========== */
figure.speaker{color:#fff;position:relative;float:left;overflow:hidden;width:100%;background:#000;text-align:center;margin-bottom:20px}
figure.speaker *{-webkit-box-sizing:padding-box;box-sizing:padding-box;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
figure.speaker img{opacity:1;width:100%}
figure.speaker figcaption{top:50%;left:40px;right:40px;position:absolute;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
figure.speaker figcaption p.accent{position:relative;font-weight:400;text-transform:uppercase;margin:0;-webkit-transform:translateY(75%);transform:translateY(75%)}
figure.speaker figcaption h2 span{font-weight:800}
figure.speaker figcaption p{font-size:1em;font-weight:500;opacity:0;margin:0}
figure.speaker:before,figure.speaker:after{position:absolute;top:20px;right:20px;bottom:20px;left:20px;content:'';opacity:0;-webkit-transition:opacity 0.6s,-webkit-transform .6s;transition:opacity 0.6s,-webkit-transform 0.6s,-moz-transform 0.6s,-o-transform 0.6s,transform .6s}
figure.speaker:before{border-top:1px double #fff;border-bottom:1px double #fff;-webkit-transform:scale(0,1);transform:scale(0,1)}
figure.speaker:after{border-right:1px double #fff;border-left:1px double #fff;-webkit-transform:scale(1,0);transform:scale(1,0)}
figure.speaker a{left:0;right:0;top:0;bottom:0;position:absolute;z-index:1}
figure.speaker.blue{background:#0a212f}
figure.speaker.red{background:#36100c}
figure.speaker.yellow{background:#562e0a}
figure.speaker:hover img,figure.speaker.hover img{opacity:.2;-webkit-filter:blur(5px);filter:blur(5px);-webkit-transform:scale(1.1);transform:scale(1.1)}
figure.speaker:hover figcaption h2,figure.speaker.hover figcaption h2,figure.speaker:hover figcaption p,figure.speaker.hover figcaption p{opacity:1;border-color:rgba(255,255,255,0.5);-webkit-transition-delay:.2s;transition-delay:.2s;-webkit-transform:translateY(0);transform:translateY(0)}
figure.speaker:hover figcaption p,figure.speaker.hover figcaption p{-webkit-transition-delay:.3s;transition-delay:.3s}
figure.speaker:hover:before,figure.speaker.hover:before,figure.speaker:hover:after,figure.speaker.hover:after{opacity:.8;-webkit-transform:scale(1);transform:scale(1)}
/* ========== Speaker Styles for the filter & items  ========== */
.speaker-filter-area{margin-bottom:5%}
@media(min-width:768px) {
.speaker-filter-area{margin-bottom:3%}
}
.speaker-filter{padding:0;margin:0;background: #EFEFEF;}
.speaker-filter li{list-style:none;display:inline-block; margin:0;}
.speaker-filter li a{display:block;padding:10px;background:transparent;color:#1c1e21;font-weight:400;font-size:14px;line-height:1;text-decoration:none;outline:none;text-transform:uppercase;border: 1px solid transparent;}
.speaker-filter li.active a,.speaker-filter li.active a:hover{background-color:transparent;border-color:#6C7A89;color:#6C7A89;border:1px solid #6C7A89}
.speaker-filter li a:hover{background-color:transparent;border-color:#6C7A89;color:#6C7A89;border:1px solid #6C7A89}
.speaker-items{margin:-8px;-webkit-transition:all .6s ease;transition:all .6s ease;-webkit-transition-delay:.6s;transition-delay:.6s}
.single-item{display:block;width:25%;padding:10px;float:left;position:relative}
.single-item a{display:block;-webkit-transition:none!important;transition:none!important}
.speaker-image{position:relative;width:100%;overflow:hidden;background:#6C7A89}
.speaker-image img{max-width:inherit;width:100%;-webkit-transition:all .45s ease-out;transition:all .45s ease-out;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.speaker-content{position: absolute;top: 0;right: 0;bottom: 0;left: 0;   opacity: 0;transition: opacity .3s ease-in-out;z-index: 2;text-align:center;background:rgba(20,20,20,0.8)}
.speaker-content-inner{width: 100%;padding: 0 50px;text-align: center;   position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.p-title{font-size:18px;letter-spacing:1px;text-transform:uppercase;margin:0;font-weight:400;position:relative;margin-bottom:5px;color:#FFF;padding-bottom:5px;}
.speaker-content-inner p{color:#FFF;font-size: 15px; line-height:16px;}
.single-item:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.single-item:hover .speaker-content{opacity:1;filter:alpha(opacity=100)}
.speaker-grid-2 .single-item{width: 50%;}
.speaker-grid-3 .single-item{width: 33.333%;}
.speaker-grid-5 .single-item{width: 20%;}
.single-item .speaker-content-inner{padding: 0 10px;}

section#agenda hr {width: 100%;}
section#agenda p {margin-bottom: 10px;font-size: 14px;}
section#agenda .label {color: black; margin-bottom:20px;}
section#section#agenda .tab-content > .tab-pane {padding:25px 15px;;background: #f1f1f1;border:1px solid #6C7A89;}
section#section#agenda .tab-pane h2{margin-top:40px;color:#1c1e21}
section#section#agenda .tab-pane p.lead{margin-top:20px}
section#section#agenda .panel {border: 0px solid transparent; background:transparent;-webkit-box-shadow:none;box-shadow:none}
section#section#agenda .panel-default {border-color: #6C7A89;}
section#agenda .panel {border: 0px solid transparent; background:transparent;-webkit-box-shadow:none;box-shadow:none}
section#agenda .panel-default {border-color: #6C7A89;}
section#agenda .panel-default > .panel-heading {background-color: transparent;border-color: transparent;border:1px solid #EFEFEF;padding:20px 15px 15px;}
section#agenda .panel-default > .panel-heading + .panel-collapse > .panel-body {border-bottom:0px solid #6C7A89}
section#agenda .panel-default > .panel-heading .badge {color: #f5f5f5;background-color: #333;}
section#agenda .panel-default > .panel-footer + .panel-collapse > .panel-body {border-bottom-color: #6C7A89;}
section#agenda .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {border-color: #6C7A89;}
section#agenda .panel-title {font-size:21px; font-weight:400}
section#agenda .panel-title > a {text-decoration:none }
section#agenda .panel-title > a:hover, section#agenda .panel-title > a:focus  {text-decoration:none}
section#agenda .food-break {background: url(../media/image-backgrounds/black-and-white/food-break.jpg);background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover}
section#agenda .food-break p {text-transform:uppercase; font-size:21px; font-weight:500; padding:20px 0 10px; text-align:center}
section#agenda .open-space {background: url(../media/image-backgrounds/black-and-white/open-space.jpg);background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover}
section#agenda .open-space p {text-transform:uppercase; font-size:21px; font-weight:500; padding:20px 0 10px; text-align:center}
section#agenda .coffee-break {background: url(../media/image-backgrounds/black-and-white/coffee-break.jpg);background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover}
section#agenda .coffee-break p {text-transform:uppercase; font-size:21px; font-weight:500; padding:20px 0 10px; text-align:center}
/*# sourceMappingURL=main.css.map */